<!DOCTYPE html>
<html lang="en">
    <head>
        <title> Table </title>              
    </head>
    <body>
        <div align="center">
            <table>
              
                <h1>
                    <h3> View Abstract</h3>
                    <form method = 'post' action = {{ url_for("abstract1")}}>
                        Enter id: <input type="number" name = 'index'></br>
                        <button type="submit">submit</button>
                    </form>
                </h1> 
            </table>
        </div>
    </body>
</html>