{% extends "layout.html" %}
{% block content %}
    <div class="site-header-logo">
        <h1 class="text-center">
            Visualization I2IT
        </h1>
    </div>

    <div class="row p-4">
        <div class="card m-auto" style="width: 90%;" data-aos="fade-left">
            <div class="card-body">
                <div id="chart1"></div>
                <p class="card-text">Above graph shows the count of each domain choosen by the students.
                    So we can infer that DEEP LEARNING domain is choosen the most by the students followed by
                     ARTIFICIAL INTELLIGENCE and MACHINE LEARNING. Blockchain, gis, web scrapping 
                     domains are the least choosen domains.</p>
            </div>
            </div>
        </div>

        <div class="card mb-4 m-auto" style="width: 90%;" data-aos="fade-left">
            <div class="card-body">
                <div id="chart2"></div>
                <p class="card-text">The piechart shows faculty guidance in different domains.</p>
            </div>
        </div>

        <div class="card mb-4 m-auto" style="width: 90%;" data-aos="slide-up">
            <div class="card-body">
                <div id="chart3"></div>
                <p class="card-text">Above graph shows Project domain vs Project guide Graph</p>
            </div>
            </div>

        

                <div class="card mb-4 m-auto" style="width: 90%;" data-aos="fade-left">
                    <div class="card-body">
                        <div id="chart4"></div>
                        <p class="card-text">Above graph shows 3D distribution of Project Domain, Project guide and Publication Status</p>
                    </div>
                    </div> 
                    
                    <div class="card mb-4 m-auto" style="width: 90%;" data-aos="slide-up">
                        <div class="card-body">
                            <div id="chart5"></div>
                            <p class="card-text">Above plot shows the count of papers published and not published.
                                So we can infer that almost 16 papers are published and 26 are not published.</p>
                        </div>
                        </div> 
                        <div class="card mb-4 m-auto" style="width: 90%;" data-aos="fade-left">
                            <div class="card-body">
                                <div id="chart6"></div>
                                <p class="card-text">The above graph shows publication status wise count of
                                    project domain selected by the students.
                                    </p>
                            </div>
                            </div> 
                     <div class="card mb-4 m-auto" style="width: 90%;" data-aos="slide-up">
                            <div class="card-body">
                                <div id="chart7"></div>
                                <p class="card-text">The above graph shows publication status wise count of Project guides.
                                    </p>
                            </div>
                            </div> 
      
      
        </div>
    </div>
    <!-- plotly CDN -->

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript">

        var graphs1 = {{ graph1JSON | safe}};
        Plotly.plot("chart1", graphs1,{});

        var graphs2 = {{ graph2JSON | safe}};
        Plotly.plot("chart2", graphs2,{});

       
        var graphs3 = {{ graph3JSON | safe}};
        Plotly.plot("chart3", graphs3,{});


        var graphs4 = {{ graph4JSON | safe}};
        Plotly.plot("chart4", graphs4,{});

        var graphs5 = {{ graph5JSON | safe}};
        Plotly.plot("chart5", graphs5,{}); 
        
        
        var graphs6 = {{ graph6JSON | safe}};
        Plotly.plot("chart6", graphs6,{}); 
        
        
        var graphs7 = {{ graph7JSON | safe}};
        Plotly.plot("chart7", graphs7,{}); 
        </script>

{% endblock %}





